<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.HonestWeixinUserMapper" >
  <resultMap id="BaseResultMap" type="sy.model.HonestWeixinUser" >
    <id column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="SUBSCRIBE" property="subscribe" jdbcType="CHAR" />
    <result column="SUBSCRIBE_TIME" property="subscribeTime" jdbcType="TIMESTAMP" />
    <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
    <result column="HEAD_IMG_URL" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="UNIONID" property="unionid" jdbcType="VARCHAR" />
    <result column="FOLLOW_TIME" property="followTime" jdbcType="TIMESTAMP" />
    <result column="CANCEL_TIME" property="cancelTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPEN_ID, NICK_NAME, COUNTRY, SEX, PROVINCE, CITY, SUBSCRIBE, SUBSCRIBE_TIME, LANGUAGE, 
    HEAD_IMG_URL, REMARK, GROUP_ID, UNIONID, FOLLOW_TIME, CANCEL_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from honest_weixin_user
    where OPEN_ID = #{openId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from honest_weixin_user
    where OPEN_ID = #{openId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="sy.model.HonestWeixinUser" >
    insert into honest_weixin_user (OPEN_ID, NICK_NAME, COUNTRY, 
      SEX, PROVINCE, CITY, SUBSCRIBE, 
      SUBSCRIBE_TIME, LANGUAGE, HEAD_IMG_URL, 
      REMARK, GROUP_ID, UNIONID, 
      FOLLOW_TIME, CANCEL_TIME)
    values (#{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{subscribe,jdbcType=CHAR}, 
      #{subscribeTime,jdbcType=TIMESTAMP}, #{language,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{followTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sy.model.HonestWeixinUser" >
    insert into honest_weixin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="subscribe != null" >
        SUBSCRIBE,
      </if>
      <if test="subscribeTime != null" >
        SUBSCRIBE_TIME,
      </if>
      <if test="language != null" >
        LANGUAGE,
      </if>
      <if test="headImgUrl != null" >
        HEAD_IMG_URL,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="unionid != null" >
        UNIONID,
      </if>
      <if test="followTime != null" >
        FOLLOW_TIME,
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        #{subscribe,jdbcType=CHAR},
      </if>
      <if test="subscribeTime != null" >
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="followTime != null" >
        #{followTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sy.model.HonestWeixinUser" >
    update honest_weixin_user
    <set >
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        SUBSCRIBE = #{subscribe,jdbcType=CHAR},
      </if>
      <if test="subscribeTime != null" >
        SUBSCRIBE_TIME = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="language != null" >
        LANGUAGE = #{language,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        HEAD_IMG_URL = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        GROUP_ID = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        UNIONID = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="followTime != null" >
        FOLLOW_TIME = #{followTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OPEN_ID = #{openId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sy.model.HonestWeixinUser" >
    update honest_weixin_user
    set NICK_NAME = #{nickName,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      SUBSCRIBE = #{subscribe,jdbcType=CHAR},
      SUBSCRIBE_TIME = #{subscribeTime,jdbcType=TIMESTAMP},
      LANGUAGE = #{language,jdbcType=VARCHAR},
      HEAD_IMG_URL = #{headImgUrl,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      GROUP_ID = #{groupId,jdbcType=VARCHAR},
      UNIONID = #{unionid,jdbcType=VARCHAR},
      FOLLOW_TIME = #{followTime,jdbcType=TIMESTAMP},
      CANCEL_TIME = #{cancelTime,jdbcType=TIMESTAMP}
    where OPEN_ID = #{openId,jdbcType=VARCHAR}
  </update>
  
  <select id="getAllHonestWeixinUser" resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List"></include>
   from honest_weixin_user
  </select>
</mapper>